<div class = 'container container-fluid'>
  <div class = 'row'>

    <div class = 'col-md-6'>
        <div class = 'card'>

            <div class = 'card-header'>
              Lorem Ipsum MothaFuckas
            </div>
            <div class = 'card-body'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor auctor finibus. Sed diam orci, semper sit amet vehicula sit amet, mollis in ex. Nunc ut pulvinar purus. Vivamus non nulla lobortis nisl commodo ultricies. Nulla lacinia nec massa et maximus. Praesent elementum malesuada maximus. Nunc rutrum, est vel fringilla sodales, augue tortor posuere metus, ultricies aliquet metus dui sed orci. Vestibulum commodo libero tincidunt felis fermentum elementum ut ac dolor. Etiam vestibulum tellus quis pulvinar tempus. Aenean sagittis quam sapien, sed pulvinar ligula cursus nec. Aliquam hendrerit vestibulum congue.
          
            </div>
          
          </div>
    </div>
    <div class = 'col-md-6'>
        <div class = 'card'>
            <div class = 'card-header'>
              Lorem Ipsum
            </div>
            <div class = 'card-body'>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor auctor finibus. Sed diam orci, semper sit amet vehicula sit amet, mollis in ex. Nunc ut pulvinar purus. Vivamus non nulla lobortis nisl commodo ultricies. Nulla lacinia nec massa et maximus. Praesent elementum malesuada maximus. Nunc rutrum, est vel fringilla sodales, augue tortor posuere metus, ultricies aliquet metus dui sed orci. Vestibulum commodo libero tincidunt felis fermentum elementum ut ac dolor. Etiam vestibulum tellus quis pulvinar tempus. Aenean sagittis quam sapien, sed pulvinar ligula cursus nec. Aliquam hendrerit vestibulum congue.
         
            </div>
          </div>
    </div>
  </div>
  <div class = 'row'>
    <div class = 'jumotron'>
      Should be the next row!
    </div>
  </div>
</div>
