<div class = 'page-header'> 
  <h1>{{ pageTitle }}</h1>
</div>
<div class = 'row'>
  <div class = 'col-xs-6'>
    <label for = 'tweet-filter'>Filter Tweet Text</label> 
    <input type = 'text' id = 'tweet-filter' placeholder = 'Enter text to filter tweets'>
  </div>
</div>
<div class = 'container' *ngIf = 'tweets && tweets.length'>
<div class = 'row' *ngFor = 'let tweet of tweets'>
  <div class = 'tweet card'>
    <div class = 'tweet card-header'>
      {{ tweet.user_name }}
    </div>
    <div class = 'tweet card-body'>
      {{ tweet.text}}
    </div>
  </div>
</div>
<div class = 'row'>
    <button class = 'btn btn-primary'> Click for good time </button>
</div>

</div>
  



