.floating-sidebar-container{
    width: 2rem;
    margin: 0px;
    padding: 0px;
    position: fixed;
    /* font-size: 2rem; */
       
}

.sidebar-octicon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

svg .sidebar-octicon{
    width: 2rem;
}

.octicon {
    display: inline-block;
    vertical-align: text-top;
    fill: currentColor;
  }
