/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Shrikhand');
@import '../node_modules/highlightjs/styles/agate.css';

body {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    padding-top: 50px;
    

}



.code {
    width: 50%;
    border-radius: 5px;
    background-color: #f3f3ff;
    display: block;

}


